.venv/

__pycache__/
*.pyc

.vscode/

.ipynb_checkpoints/

uploads/*
!uploads/.gitkeep

.DS_Store

models/*.pkl
.venv/
venv/
models/venv/
__pycache__/
*.pyc
.env

.venv/
venv/
models/venv/
__pycache__/
*.pyc
.env
